
<section ng-controller="StatsController" ng-init="getStats()">
	<div class="container">
		<div class="splash">
			Sqwiggle <span class="bold">stats</span>
		</div>
		<div class="data">
			<div class="pure-g-r">
				<div class="pure-u-1-4"> 
					<div class="card">
						<div class="metric-big">10.000</div>
						<div class="description">Total number of conversations</div>
					</div>
				</div>
				<div class="pure-u-1-4">
					<div class="card">
						<div class="metric-big">250hrs</div>
						<div class="description">Total time in conversations</div>
					</div>
				</div>
				<div class="pure-u-1-4">
					<div class="card">
						<div class="metric-big">Jordy</div>
						<div class="description">Co-worker with most shares</div>
					</div>
				</div>
				<div class="pure-u-1-4">
					<div class="card">
						<div class="metric-big">112</div>
						<div class="description">Github commits this month</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>